<!doctype html>
<html lang="{{ site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ printf "%s | %s" .Title site.Title }}</title>
    {{ $customCss := resources.Get "css/custom.css"
      | minify
      | fingerprint }}
    <link rel="stylesheet"
      href="{{ $customCss.RelPermalink }}"
      integrity="{{ $customCss.Data.Integrity }}"
    >
  </head>

  <body>
    <div class="container">
      <header>
        <p>
          Is this page a draft? <strong>{{ .Draft }}</strong>
        </p>

        <hr>

        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts/">Posts</a>
          </li>
          <li>
            <a href="/drafts/">Drafts</a>
          </li>
        </ul>

        <hr>
      </header>

      <main>
        {{ block "main" . }}{{ end }}
      </main>

      {{ if eq .Draft true }}
        {{ $draftJs := resources.Get "js/draft.js"
          | minify
          | fingerprint }}
        <script
          src="{{ $draftJs.RelPermalink }}"
          integrity="{{ $draftJs.Data.Integrity }}"
        ></script>
      {{ end }}
    </div>
  </body>
</html>
