<!doctype html>
<html lang="{{ site.Language.Lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ printf "%s | %s" .Title site.Title }}</title>
    <style>
      .container {
        max-width: 700px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <header>
        <p>
          Is this page a draft? <strong>{{ .Draft }}</strong>
        </p>

        <hr>

        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/posts/">Posts</a>
          </li>
          <li>
            <a href="/drafts/">Drafts</a>
          </li>
        </ul>

        <hr>
      </header>

      <main>
        {{ block "main" . }}{{ end }}
      </main>
    </div>
  </body>
</html>
